* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

.blue   { background-color: #67B3DD; }
.green  { background-color: #9EE062; }
.yellow { background-color: #FEDF6B; }
.red    { background-color: #FC302D; }

header,
section.green,
footer {
  min-height: 80px;
}

section.articles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

article {
  min-height: 100px;
}

@media (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
  }

  section.articles {
    flex: 1;
  }

  article {
    flex: 1;
  }

  article:nth-child(n + 3) {
    display: none;
  }
}